h1{
    font-size: 20px;
}
.pizza-name{
    text-align: center;
}
.pizza-img{
    height: 220px;
    width: 260px;
    margin: 2px 72px;
}
.flex-container{
    display: flex;
    margin-top: 7px;
}
.type-nm{
    margin: 0px 72px;
}
.select-input{
    width: 90px;
    padding: 1px 6px;
    margin: 5px 52px;
}
.pr{
    margin-left: 50px;
}

.cart-button{
    background-color: red;
    color: white;
    border: none;
    width: 125px;
    font-size: large;
}