h1{
    font-size: 20px;
}
.pizza-name{
    text-align: center;
    margin-left: -35px;
}
.pizza-img{
    height: 220px;
    width: 240px;
    margin: 2px 70px;
}
.flex-container{
    display: flex;
    margin-top: 5px;
}
.type-nm{
    margin: 0px 65px;
}
.select-input{
    width: 90px;
    padding: 1px 6px;
    margin: 5px 45px;
}
.second-sub-div{
   margin-left: -25px;
}
.pr{
    margin-left: 50px;
}

.cart-button{
    background-color: red;
    color: white;
    border: none;
    width: 125px;
    font-size: large;
}